# Generate with:
# ruby -rsecurerandom -e 'puts SecureRandom.hex(64)'
# or
# docker run --rm ruby:3.2 ruby -rsecurerandom -e 'puts SecureRandom.hex(64)'
SECRET_KEY_BASE=

# The database will be automatically initialized with the following details when docker compose up is run.
#
# If you want to reset the database after changing this file use the following command:
# docker compose exec -it website bin/rails db:seed:replant
#
# WARNING: There are no safety mechanisms, so do not run replant if you've been using Fundamento and
# you stored some data inside!!!
#
FUNDAMENTO_ORGANIZATION=Fundamento
FUNDAMENTO_ADMIN_EMAIL=john@fundamento.it
FUNDAMENTO_ADMIN_FIRST_NAME=John
FUNDAMENTO_ADMIN_LAST_NAME=Doe
FUNDAMENTO_ADMIN_PASSWORD=secret!